
.facebook-logo{
    width: 200px;
    height: 100px;
    margin: 20px;
}
.mainBlock{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    margin-left: 150px;
 }
.h1 {
    display: flex;
    align-items: center;
    color: rgb(119, 0, 255);
    margin-left: 30%;
}
.facebook-div p span {
    color: rgb(111, 0, 255);
    
}
.facebook-div {
    margin-top: 20px;
    width: 250px;
    border: 1px solid black;
}

