.img-block button{
   margin-left: 40%;
   margin-top: 30px;
   width: 200px;
   height: 40px;
   border: 1px solid green;
   color: green;
   border-radius: 10px;

   
}
.img-block-1{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.img-block-2{
    display: flex;
    justify-content: center;
}