.head{
    display: flex;
}
.left{
    width: 60%;
}
.left img{
    width: 80%;
}
.right{
    width: 40%;
}
.right img{
    width: 40px;
}
.right button{
    width: 170px;
    height: 60px;
    color: green;
    border: 1px solid green;
    border-radius: 10%;
}