
.card img{
    width: 200px;
    height: 150px;
    border-radius: 20px;
    
}
.card p{
    background-color: azure;
    font-style: italic;
}
.card{
    border-image: auto;
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    margin: 5%;
    padding: 2%;
    background-color: rgb(238, 81, 81);
    
}
.card_wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}
.text{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: rgb(204, 30, 96);
}
.card p span {
    color: rgb(214, 67, 99);
}
*{
    background-color:rgb(250, 249, 249)
}